<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Name</title>
  </head>
  <body>
    <h1><%= reqPatient.fullname %>'s File</h1>
    <h2>Full Name:</h2>
    <p><%= reqPatient.fullname %></p>
    <h2>Age:</h2>
    <p><%= reqPatient.age %></p>
    <% if(reqPatient.diseases){ %>
    <h2>Purani Bimariyan:</h2>
    <p><%= reqPatient.diseases %></p>
    <% } %>
    <a href="/patient/<%= reqPatient._id %>/edit"><button>Edit Info</button></a>
    <a href="/login"><button>Back to Login</button></a>
  </body>
</html>
